.card {
    /* border-radius: "4px"; */
    margin-top: "70px"
}

.formTitle h1 {
    position: relative;
    z-index: 1;
    border-left: 4px solid #36558F;
    margin: 30px 0 30px -10px;
    padding: 5px 0 4px 73px;
    color: #36558F;
    font-size: 27px;
    font-weight: 500;
    text-transform: capitalize;
}