.pageTitle h1 {
    position: relative;
    z-index: 1;
    border-left: 5px solid #114338;
    margin: 30px 0 30px -10px;
    padding: 5px 0 4px 23px;
    color: #114338;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.pageTitle {
    display: flex;
    justify-content: space-between;
}

.button {
    margin: 30px 30px 30px 0px;
}

@media screen and (max-width: 480px) {
    .pageTitle h1 {
        border-left: 4px solid #114338;
        margin: 3px 0 30px -10px;
        padding: 5px 0 4px 20px;
        font-size: 16px;
    }
}

@media screen and (max-width: 790px) {
    .pageTitle h1 {
        border-left: 4px solid #114338;
        margin: 30px 0 30px -10px;
        padding: 5px 0 4px 20px;
        font-size: 20px;
    }
}

@media screen and (max-width: 643px) {
    .pageTitle h1 {
        border-left: 4px solid #114338;
        margin: 7px 0 30px -10px;
        padding: 5px 0 4px 20px;
        font-size: 20px;
    }
}