.container span {
    font-size: 18px;
}

.container tr {
    height: 35px;
    text-align: center;
    font-weight: 500;
}

.container table {
    margin-top: 15px;
}

.sair {
    position: absolute;
    top: 0;
    margin: 17px 0 0px 0px;
}

.options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}