header {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

header::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #4070f4;
}

.formContainer{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DBFCFF;
    margin: 0;
    width: 100vw;
}

.content{
    position: relative;
    width: 80%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}